/* :root{
    --main-background-Color:;
    --background-color:#121315;
    --secondBackground-color:#1d1b1b;
    --effect-color: #00BD95 ;
    --font-color:white;
    --secondfont-color:#787373;
    --navColor: rgb(37, 35, 35)
} */



/* :root {
  --main-background-color: #222831	;
  --background-color: #393E46;
  --secondBackground-color: #393E46;
  --effect-color: #03C4A1;             
  --font-color:#EEEEEE;
  --secondfont-color:  #B0BEC5;
  --navColor: #00ADB5;
  
} */


/* :root {
  --main-background-color: #222831	;
  --background-color: #393E46;
  --secondBackground-color: #323232;
  --effect-color: #00ADB5;             
  --font-color:#F5F5F5;
  --secondfont-color:  #9E9E9E;
  --navColor: #EEEEEE;
  
} */

/* :root {
  --main-background-color: #121212;
  --background-color: #121212;
  --secondBackground-color: #1E1E1E;
  --effect-color: #00FFF7;             
  --font-color:#FFFFFF;
  --secondfont-color:  #B3B3B3;
  --navColor: #00E7D6;
  
} */
